<footer class="footer">
  <div class="footerbg">
    <h3>Sizin üçün xüsusi təkliflərimizdən yararlanmaq istərdinizmi?</h3>
    <a href="/contact">Təklif alın</a>
  </div>
  <div class="infoFooter">
    <div class="contact">
      <h2>Əlaqə</h2>
      <ul>
        <li class="footer-list-item contactInfo">
          <img src="new-assets/Icon-material-call.svg" alt="call-icon" />
          <a href="tel: +994 12 404 53 08 "><p>(+994 12) 404 53 08</p></a>
        </li>
        <li class="footer-list-item contactInfo">
          <img src="new-assets/Icon-material-call.svg" alt="call-icon" />
          <a href="tel: +994 50 310 77 16 "> <p>(+994 50) 310 77 16</p></a>
        </li>
        <li class="footer-list-item contactInfo">
          <img src="new-assets/Icon-material-call.svg" alt="call-icon" />
          <a href="tel: +994 50 427 26 16"><p>(+994 50) 427 26 16</p></a>
        </li>
        <li class="footer-list-item contactInfo">
          <img src="new-assets/Icon-material-mail.svg" alt="mail-icon" />
          <a href="mailto:office@aitms.net"> office@aitms.net </a>
        </li>
        <li class="footer-list-item contactInfo">
          <img
            id="location-footer"
            src="new-assets/Icon-material-location-on.svg"
            alt="location-icon"
          />

          <a href="https://goo.gl/maps/cfLLMwiRtW5sL83q7" target="_blank">
            Ağ şəhər Y/M,
            <br />
            1-ci Yaşıl ada küçəsi,
            <br />
            bina 7, mənzil 12</a>

        </li>
      </ul>
    </div>
    <div class="menu">
      <h2>Menu</h2>
      <ul>
        <li class="footer-list-item">
          <p><a href="/">Ana səhifə</a></p>
        </li>
        <li class="footer-list-item">
          <p><a href="/products">Məhsullar</a></p>
        </li>
        <li class="footer-list-item">
          <p><a href="/service">Servis və xidmətlər</a></p>
        </li>
        <!-- <li class='footer-list-item'><p><a href="#">Xeberler</a></p></li> -->
        <li class="footer-list-item">
          <p><a href="/about">Şirkət Haqqında</a></p>
        </li>
        <li class="footer-list-item">
          <p><a href="/contact">Əlaqə</a></p>
        </li>
      </ul>
    </div>

    <div class="timing">
      <h2>İş saatları</h2>
      <ul>
        <li class="footer-list-item"><p>Həftə içi: 09:00 - 18:00</p></li>
        <li class="footer-list-item"><p>Şənbə: 10:00 - 14:00</p></li>
        <li class="footer-list-item"><p>Bazar: Qeyri-iş günü</p></li>
      </ul>
    </div>

    <div class="avadanliqlar">
      <h2>Avadanlıqlarımız</h2>
      <ul>
        <li class="footer-list-item"><p><a
              href="https://avanqardups.az/product?productName=MA_SERIES"
            >MA SERIES</a></p></li>
        <li class="footer-list-item"><p><a
              href="https://avanqardups.az/product?productName=MM_PORTABLE_SERIES"
            >MM PORTABLE SERIES</a></p></li>
        <li class="footer-list-item"><p><a
              href="https://avanqardups.az/product?productName=POWER_ACTIVE_SERIES"
            >POWERACTIVE SERIES</a></p></li>
        <li class="footer-list-item"><p><a
              href="https://avanqardups.az/product?productName=DEFENDER_SERIES"
            >DEFENDER SERIES</a></p></li>
        <li class="footer-list-item"><p><a
              href="https://avanqardups.az/product?productName=DEFENDER_PRO_SERIES"
            >DEFENDER PRO SERIES</a></p></li>
      </ul>
    </div>
  </div>

  <div class="copywriter">
    <p>© 2021 Avanqard Ups MMC. Bütün hüquqları qorunur</p>
    <p>Website by<a href="https://claradix.com/">Claradix Studio</a></p>
  </div>
</footer>