<header>
  <div id="headerContainer">
    <address class="headerInfo phone-icon-nav-container">
      <img class="topNavIcon" src="assets/img/phone.svg" alt="call-icon" />
      <p class="call">
        <a href="tel: +994 12 404 53 08">&nbsp +994 12 404 53 08 &nbsp</a>
        /
        <a href="tel: +994 50 310 77 16 ">&nbsp +994 12 310 77 16 &nbsp </a>
        /
        <a href="tel: +994 50 427 26 16 ">&nbsp +994 50 427 26 16</a>
      </p>
      {{! <p class="mobile">
        <a href="tel: +994 12 404 53 08 ">&nbsp +994 12 404 53 08</a>
        /
        <a href="tel: +994 50 427 26 16 ">&nbsp +994 50 427 26 16</a>
      </p> }}

    </address>
    <div class="headerInfo email-icon-nav-container">
      <img class="topNavIcon" src="assets/img/email.svg" alt="email-icon" />
      <a href="mailto:office@aitms.net"> office@aitms.net </a>
    </div>
    <div class="headerInfo location-icon-nav-container" id="headerLoc">
      <img class="topNavIcon" src="assets/img/location.svg" alt="location-icon" />
      <a href="https://goo.gl/maps/cfLLMwiRtW5sL83q7" target="_blank">
        Ağ şəhər Y/M, 1-ci Yaşıl ada küçəsi, bina 7, mənzil 12</a>
    </div>
  </div>

  <div class="navbarSection">
    <div id="logo">
      <a href="/"><img
          src="assets/img/avanqardups-logo-black-new.svg"
          alt="avanqardups-logo"
        /></a>
    </div>

    <nav class="noSelect">
      <div class="hamburger">
        <div class="lineWrapper">
          <div class="line"></div>
        </div>
      </div>

      <ul>
        <li><a href="/">Ana səhifə</a></li>
        <li><a href="/products">Məhsullar</a></li>
        <li class="serviceTopMenu">
          <a>Servis və xidmətlər
            <svg
              class="arrow"
              width="11"
              height="7"
              viewBox="0 0 11 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1.43176L5.5 5.31813L10 1.43176"
                stroke="#020101"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg></a>
        </li>
        <li><a href="/calculator">Hesabla</a></li>
        <li><a href="/blog">Bloq</a></li>
        <li><a href="/about">Şirkət Haqqında</a></li>

        <li><a href="/contact">Əlaqə</a></li>
        <li id="searchIcon">
          <img src="assets/img/search-black.svg" alt="search-icon" />
        </li>
      </ul>
    </nav>

    <div class="serviceMenu">
      <h2>Servis və xidmətlər</h2>
      <ul>
        <li><a href="/service">Servis haqqında</a></li>
        <li>
          <a href="/service#serviceContact">Texniki problem bildir</a>
        </li>
        <!-- <li><a href="calculator.handlebars">Kalkulyator istifadə et</a></li> -->
      </ul>
    </div>

    <ul class="mobile-ul">
      <li><a href="/">Ana səhifə</a></li>
      <li><a href="/products">Məhsullar</a></li>
      <li class="serviceTopMenu">
        <a>Servis və xidmətlər
          <svg
            class="mob-arrow"
            width="11"
            height="7"
            viewBox="0 0 11 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 1.43176L5.5 5.31813L10 1.43176"
              stroke="#020101"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg></a>
      </li>
      <ul class="mobileServiceUl">
        <li><a href="/service">Servis haqqında</a></li>
        <li>
          <a href="/service#serviceContact">Texniki problem bildir</a>
        </li>
        <!-- <li><a href="calculator.handlebars">Kalkulyator istifadə et</a></li> -->
      </ul>

      <!-- <li><a href="#">Xeberler</a></li> -->
      <li><a href="/about">Şirkət Haqqında</a></li>
      <li><a href="/calculator">Hesabla</a></li>
      <li><a href="/blog">Bloq</a></li>
      <li><a href="/contact">Əlaqə</a></li>
      <li id="searchIconMobile">
        <img src="assets/img/search-black.svg" alt="search-icon" />
      </li>
    </ul>
  </div>
  <hr />
</header>