<div class="modal-bg">
  <div class="modal">
    <div class="modal-wrapper">
      <div class="modal-logo">
        <a href="/">
          <img src="assets/img/avanqardups-logo-black-new.svg " alt="logo-icon" />
        </a>
      </div>
      <div class="modal-close">

      </div>
    </div>
    <div class="modal-input-wrapper">

      <!--            <textarea  placeholder="Axtarış Edin..." class="modal-input"></textarea>-->
      <input type="text" placeholder="Axtarış edin..." class="modal-input" />
      <table class="table-data">
        <tbody>
          <tr>
            <td>
              <a class="product-link" href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></td>
          </tr>
          <tr>
            <td>
              <a class="product-link" href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>