<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="AVANQARD UPS sizin üçün ən doğru olan seçimdir.">
    <meta name="keywords" content="Avanqard UPS, UPS sistemlər avadanlıqlar, haqqımızda">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge 'self' https://avanqardups.az" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
    <!-- <link rel="stylesheet" href="css/utilities.css" /> -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/contact.css">

</head>

<body>
{{>navbar}}

{{>search}}

<section class="aboutCompany">
    <div class="aboutPageLinks">
        <a  class="ppp" href="/">Ana Səhifə /</a>
        <a class="ppp ppp-second" href="/about">Haqqımızda</a>
    </div>
    <div class="aboutCompanyHeading">
        <h1>
            "AVANQARD UPS" 20 ildən artıq təcrübə ilə bütün müştərilərinə
            keyfiyyətli, kəsintisiz qida <br />
            mənbələri həlləri təklif edir.
        </h1>

        <p>
            Sektorundakı yenilikləri yaxından təqib edən və bu yenilikləri
            müştəriləri üçün avantaja çevirmək, keyfiyyət və güvəndən vaz keçməmək
            və müştəri məmnuniyyətinə yönələn keyfiyyət anlayışı ilə müştəriləri
            tərəfindən hər keçən gün daha çox seçilən şirkət olaraq, hər il
            müştəri sayını və satış rəqəmlərini artıraraq böyümüşdür. Bu gün
            irəlidə olan, güvənli və sektorunda liderlik edən şirkətlərdən biri
            olmuşdur. Azərbaycan daxilində bütün rayon və şəhərləri əhatə etməklə,
            hər bir satış və satış sonrası xidmətlərdə savadlı kadrları hesabına
            xidmət göstərməkdədir.
        </p>
    </div>

    <div class="aboutCompanyButton">
        <a class="btn" href="/contact">Təklif alın</a>
        <a id="serv-btnSecond"
           class="btnSecond"
           href="assets/katalogs/katalog.pdf"
           download="Upset katalog"
        >Kataloqu yükləyin</a
        >
    </div>
</section>

<section class="aboutCompanyContent">
    <div class="aboutCompanyParagraf">
        <div>
            <hr />
            <h2>Sizə nə təklif edirik?</h2>
            <p>
                <strong>"AVANQARD UPS" MMC</strong> Kəsintisiz Qida Mənbəyi (UPS)
                istehsalçıları arasında özünə layiqli yer tutmuş Türkiyə
                Respublikasının<strong>
                "UPSET ELEKTRONİK SANAYİ VE TİCARET A.S"</strong
            >
                şirkətinin
                <span>Azərbaycan Respublikasında rəsmi nümayəndəsi</span> olmaqla,
                kəsintisiz qida mənbələri (UPS), GSM və telekommunikasiya sahəsində
                istifadə edilən özəl enerji sistemləri, avtomatik və statik voltaj
                requlyatorları, elektronik kartlar və başqa qurğuların satışını
                təklif edir.
            </p>
        </div>

        <div>
            <hr />
            <h2>AVANQARD UPS MMC necə işləyir?</h2>
            <p>
                <strong>"AVANQARD UPS" MMC</strong> 20 ildən artıq təcrübə və
                mühəndis heyəti ilə bütün müştərilərinə, keyfiyyətli, kəsintisiz
                qida mənbələri həlləri və xidmətləri təklif edir. Sektorundakı
                yenilikləri yaxından təqib edən və bu yenilikləri müştəriləri üçün
                avantaja çevirmək, keyfiyyət və güvəndən vaz keçməmək və müştəri
                məmnuniyyətinə yönələn keyfiyyət anlayışı ilə müştəriləri tərəfindən
                hər keçən gün daha çox seçilən şirkət olaraq, hər il müştəri sayını
                və satış rəqəmlərini artıraraq böyümüşdür. Bu gün irəlidə olan,
                güvənli və sektorunda liderlik edən şirkətlərdən biri olmuşdur.
                Azərbaycan daxilində bütün rayon və şəhərləri əhatə etməklə, hər bir
                satış və satış sonrası xidmətlərdə savadlı kadrları hesabına xidmət
                göstərməkdədir.
            </p>
        </div>

        <div>
            <hr />
            <h2>Niyə biz?</h2>
            <p>
                Sizləri, <strong>"AVANQARD UPS" MMC</strong>-nin təklif etdiyi
                keyfiyyətli məhsul və xidmətlərdən yararlanmağa, birlikdə böyüməyə,
                satarkən deyil, alarkən qazanmağın verdiyi qürurdan yararlanmağa
                dəvət edirik. <strong>"AVANQARD UPS" MMC </strong>, kəsintisiz və
                təmiz enerji ehtiyacında Azərbaycanın ən böyük və ən güvənli həll
                ortağı olmaq, bu güvəni dünya standartları səviyyəsində davam
                etdirməyi qarşısına məqsəd qoymuşdur.<strong>
                "AVANQARD UPS" MMC</strong
            >-nin təklif etdiyi qurğular
                <strong>ISO-9001: 2008, ISO 14001, OHSAS 18001 </strong> keyfiyyət
                sertifikalarına sahibdir. <strong>"AVANQARD UPS" MMC </strong>üçün
                bu günə kimi həyata keçirilmiş layihələr uğur deyil, uğura gedən
                yolun başlanğıcıdır. Bu səbəblə də 20 il əvvəl çıxdığımız bu uzun
                yolda gedəcək daha çox yolumuzun olduğu düşüncəsiylə kəsintisiz
                davam etməkdəyik.
            </p>
        </div>
        <hr />
    </div>

    <div class="aboutCompanyImage">
        <div class="rayonlar">
            <p>Xidmət göstərdiyimiz rayonlar</p>
            <img src="assets/img/60rayon.webp" alt="avanqardups-haqqimizda" />
        </div>
        <div class="companies">
            <p>Əməkdaşlıq etdiyimiz şirkətlər</p>
            <img src="assets/img/200shirket.webp" alt="avanqardups-200shirket" />
        </div>
        <div class="tecrube">
            <p>İllik Təcrübə</p>
            <img src="assets/img/20tecrube.webp" alt="avanqardups-tecrube" />
        </div>
    </div>
</section>

<!-- <section class="aboutUp">
  <div class="aboutPageIpIcon">
    <a href="#"><img src="assets/img/arrow-up.svg" alt="" /></a>
  </div>
</section> -->

<section class="up">
    <div class="upIcon">
        <a href="#"><img src="assets/img/arrow-up.svg" alt="avanqardups-haqqimizda" /></a>
    </div>
</section>


{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

<script src="gsapJs/aboutCompany-gsap.js"></script>
<script type="text/javascript" src="js/pages.js"></script>
</body>


<!--
borderler iki denedi


-->
</html>
</body>
</html>
